.landing-container {
  height: 100vh;
  background: linear-gradient(135deg, #5f2c82, #49a09d);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  text-align: center;
}

.app-name {
  font-size: 48px;
  margin-top: 20px;
  letter-spacing: 2px;
}