.landing-container {
  min-height: calc(100vh - 70px); /* full screen minus navbar */
  background-color: #0b1d3a;

  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center;     /* horizontal center */

  color: white;
  text-align: center;
}

/* Lottie animation */
.landing-container dotlottie-wc {
  width: 300px;
  height: 300px;
  display: block;
}

/* Title */
.app-name {
  font-size: 48px;
  margin-top: 20px;
  letter-spacing: 3px;
  font-weight: 600;
}